@using DancingGoat.InlineEditors
@using Kentico.PageBuilder.Web.Mvc
@using Kentico.Web.Mvc

@model TopNEditorViewModel


@using (Html.Kentico().BeginInlineEditor("topn-editor", Model.PropertyName, new { @class = "listing-property-editor" }))
{
	<div class="listing-property-label">
		<label asp-for="@Model.TopN">@HtmlLocalizer["Select top N items"].Value:</label>
	</div>

	<div class="listing-property-value">
		<input asp-for="@Model.TopN" type="text">
	</div>
}