@using Kentico.Forms.Web.Mvc
@using DancingGoat.Components.FormSections.TitledSection


@model FormSectionViewModel<TitledSectionProperties>

@if (!string.IsNullOrEmpty(Model?.Properties?.Title))
{
    @Html.Raw(Html.Kentico().ResolveRichText(Model.Properties.Title))
}

<div class="row">
    <div class="col-md-12">
        @await Html.Kentico().FormZoneAsync()
    </div>
</div>
