@model DancingGoat.InlineEditors.DropdownEditorViewModel

@using (Html.Kentico().BeginInlineEditor("dropdown-editor", Model.PropertyName, new { @class = "listing-property-editor" }))
{
    var optionLabel = Model.Options.Any() ? HtmlLocalizer["Please select an option."].Value : HtmlLocalizer["No options are available."].Value;

    <div class="listing-property-label">
        @Html.LabelFor(model => model.Selected, HtmlLocalizer[Model.Label].Value)
    </div>
    <div class="listing-property-value">
        @Html.DropDownListFor(model => model.Selected, new SelectList(Model.Options), optionLabel, new { @class = "dropdown-selector" });
    </div>
}