@using DancingGoat.Widgets

@model ListingWidgetViewModel



@if (Context.Kentico().PageBuilder().EditMode)
{

    <div class="listing-inline-editor">
    </div>
}
<ul>
@{
    foreach(var listingPage in Model.Pages)
    {
        <li>@listingPage.DocumentName</li>
    }
}
</ul>