@using DancingGoat.InlineEditors
@using DancingGoat.Widgets

@model ListingWidgetViewModel

@inject IPageBuilderDataContextRetriever pageBuilderContext

<h3>Listing widget</h3>

@if (Context.Kentico().PageBuilder().EditMode)
{
    <div class="listing-inline-editor">
        <partial name="~/Components/InlineEditors/DropdownEditor/_DropdownEditor.cshtml" model="@Model.PageTypeSelectorViewModel" />
    </div>
}

<ul>
    @{
        foreach(var listingPage in Model.Pages)
        {
            <li>@listingPage.DocumentName</li>
        }
    }
</ul>