@using DancingGoat.InlineEditors
@using DancingGoat.Widgets

@model ListingWidgetViewModel

@inject IPageBuilderDataContextRetriever pageBuilderContext

<h3>Listing widget</h3>

@if (Context.Kentico().PageBuilder().EditMode)
{
    var pageTypeLabel = "Page type";
    var dropdownEditorViewModel = new DropdownEditorViewModel(nameof(ListingWidgetProperties.SelectedPageType), Model.SelectedPageType, Model.SupportedPageTypes, pageTypeLabel);

    <div class="listing-inline-editor">
        <partial name="~/Components/InlineEditors/DropdownEditor/_DropdownEditor.cshtml"
                 model="@dropdownEditorViewModel" />
    </div>
}

<ul>
    @{
        foreach(var listingPage in Model.Pages)
        {
            <li>@listingPage.DocumentName</li>
        }
    }
</ul>