.listing-inline-editor div.listing-property-editor .path-editor-value {
    justify-content: space-between;
    flex-wrap: wrap;
}

.listing-inline-editor div.listing-property-editor div.listing-property-value .selected-path {
    color: white;
    width: 10em;
    margin: auto 0.5em auto 0;
    margin-top: auto;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.listing-inline-editor div.listing-property-editor div.listing-property-value .invalid-page {
    color: indianred;
}

.listing-inline-editor div.listing-property-editor div.listing-property-value div.path-editor-controls {
    display: flex;
}

.listing-inline-editor div.listing-property-editor div.listing-property-value button.path-editor-select-button {
    margin-right: 0.5em;
}